.home_table div {
    border-left: 2px solid rgb(151, 148, 142);
    border-right: 2px solid rgb(151, 148, 142);
    border-radius: 20px;
}

.home_table  button  {
    border: 2.5px solid rgb(151, 148, 142);
    margin-right: 5px;
    margin-left: 5px;
}

.home_table section {
    position: absolute;
    border: 1px solid lime ;
    background-color: black;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding-top: 10%;
    z-index: 2;
}
