.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.moon {
  background-image: url("./assets/sunbgtwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 98px;
  height: 38px;
  top: -1.7px;
  left: 0; /* Initial left position */
  position: absolute;
  width: 40px;
  transition: left ease .5s; /* Transitioning left property */
}

.body_toggle {
  /* background-color: lightgray; */
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  position: relative;
  margin-left: 82.4%;
  margin-top: 10px;
  width: 90px;
}

.toggle_bg_img {
  background-image: url("./assets/toggle_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
}

.toggle_bg_img_moon {
  background-image: url("./assets/moonbgtoggle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2px;
}

.animate_left {
  background-image: url("./assets/moonbgtwo.jpg");
  height: 36px !important;
  top: 0 !important;
  left: 45px; /* Final left position */
}

nav .nav_toggle {
  background: #fff !important;
}

.user_container {
  padding-bottom: 8vh;
}